body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #d8d2d2;
}

header {
    background-color: #260e75;
    color: #fff;
    padding: 3px 2;
    text-align: center;
}

.batas {
    max-width: 960px;
    margin: 20px auto;
    overflow: auto;
    padding: 20px;
}

.chart-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin: 0; 
}

.chart-col {
    flex: 15 15 calc(33.33% - 20px);
    margin: 5px;
    background-color: #fff;
    padding: 8px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}

footer {
    color: #000000;
    text-align: center;
    padding: 20px 0;
    position: auto;
    width: 100%;
    bottom: 0;
}